<!-- *************************************************** Barre de navigation ************************************************************************* -->
<nav class="navbar navbar-expand-sm bg-dark text-white navbar-light stick-top">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
          <span class="logo text-light"><i class="fas fa-book"></i> </span>
      </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav m-auto">
          <li class="nav-item ">
              <a class="nav-link text-white" routerLink="bibliotheque" role="button" >Vos Bibliotheques</a>
          </li>                                
          <li class="nav-item ">
            <a class="nav-link text-white" routerLink="" role="button" >Vos ???</a>
        </li>        
      </ul>
      <ul class="navbar-nav mr-auto" >
        <a href="" class="statutsession " type='button' data-bs-toggle="modal" data-bs-target="#userModal" [ngClass]="(session)?'fas fa-user text-success':'fas fa-user text-danger'"></a>
        <span> {{session.name}}</span>
      </ul>
  </div>
  </div>
</nav>



<!-- ******************************************************* Modal User************************************************** -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content container-fluid">
          
        <div class='d-grid gap-2 col-6 mx-auto mt-4'>
            <button type='submit' data-bs-dismiss="modal" aria-label="Close" (click)=deleteSession()>Se Déconnecter</button>
        </div>
          
      </div>
  </div>
</div>

<router-outlet></router-outlet>